In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .master("spark://spark-master:7077") \
    .config ("spark.sql.execution.arrow.enabled", "true") \
    .appName("Python Spark SQL basic example2") \
    .getOrCreate()
sc = spark.sparkContext

In [2]:
df = spark.read.csv("/home/jovyan/work/creditcard.csv")

In [3]:
df.count()

284808

In [4]:
import random

sc = spark.sparkContext
num_samples = 100000000

def inside(p):     
  x, y = random.random(), random.random()
  return x*x + y*y < 1

count = sc.parallelize(range(0, num_samples)).filter(inside).count()

pi = 4 * count / num_samples
print(pi)

3.141568

In [5]:
pandas_df = df.toPandas()

In [6]:
pandas_df

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,_c21,_c22,_c23,_c24,_c25,_c26,_c27,_c28,_c29,_c30
0,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
1,0,-1.3598071336738,-0.0727811733098497,2.53634673796914,1.37815522427443,-0.338320769942518,0.462387777762292,0.239598554061257,0.0986979012610507,0.363786969611213,...,-0.018306777944153,0.277837575558899,-0.110473910188767,0.0669280749146731,0.128539358273528,-0.189114843888824,0.133558376740387,-0.0210530534538215,149.62,0
2,0,1.19185711131486,0.26615071205963,0.16648011335321,0.448154078460911,0.0600176492822243,-0.0823608088155687,-0.0788029833323113,0.0851016549148104,-0.255425128109186,...,-0.225775248033138,-0.638671952771851,0.101288021253234,-0.339846475529127,0.167170404418143,0.125894532368176,-0.00898309914322813,0.0147241691924927,2.69,0
3,1,-1.35835406159823,-1.34016307473609,1.77320934263119,0.379779593034328,-0.503198133318193,1.80049938079263,0.791460956450422,0.247675786588991,-1.51465432260583,...,0.247998153469754,0.771679401917229,0.909412262347719,-0.689280956490685,-0.327641833735251,-0.139096571514147,-0.0553527940384261,-0.0597518405929204,378.66,0
4,1,-0.966271711572087,-0.185226008082898,1.79299333957872,-0.863291275036453,-0.0103088796030823,1.24720316752486,0.23760893977178,0.377435874652262,-1.38702406270197,...,-0.108300452035545,0.00527359678253453,-0.190320518742841,-1.17557533186321,0.647376034602038,-0.221928844458407,0.0627228487293033,0.0614576285006353,123.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284803,172786,-11.8811178854323,10.0717849710003,-9.83478345739033,-2.06665568459413,-5.36447278097585,-2.6068373309456,-4.91821543115252,7.305334020798,1.9144282734458,...,0.213454108437359,0.111863735978609,1.01447989719391,-0.509348453168509,1.4368069070214,0.250034279569581,0.943651171507532,0.823730961486502,0.77,0
284804,172787,-0.732788670658956,-0.0550804899173326,2.03502974528243,-0.73858858438744,0.868229398914682,1.05841527222565,0.0243296959175797,0.294868698501783,0.584800017281683,...,0.214205341747019,0.924383584903381,0.0124630383316793,-1.01622566867336,-0.606623985854728,-0.395255065710324,0.0684724700405593,-0.0535273892010011,24.79,0
284805,172788,1.91956500980048,-0.301253845990644,-3.24963981406834,-0.55782812475002,2.63051512011547,3.03126009781428,-0.296826527116156,0.708417184967134,0.432454047632915,...,0.232045035925397,0.57822900992263,-0.0375008550221367,0.640133881346421,0.265745453243744,-0.0873705959041059,0.00445477213829229,-0.0265608285615222,67.88,0
284806,172788,-0.240440049680947,0.530482513118839,0.702510230095103,0.689799168040973,-0.377961134444982,0.62370772214768,-0.68617998628885,0.679145459790659,0.392086712465972,...,0.265244916386865,0.800048741498139,-0.163297944406659,0.123205243742508,-0.569158864158597,0.546668462188323,0.108820734744839,0.104532821478796,10,0
284807,172792,-0.53341252200504,-0.189733337002305,0.703337366963779,-0.506271240328258,-0.0125456787599659,-0.649616685713792,1.57700625437629,-0.414650407552662,0.486179505267237,...,0.261057330790975,0.643078437820093,0.376777014169917,0.00879737940024202,-0.473648703898825,-0.818267121041176,-0.00241530880001015,0.0136489143320671,217,0

In [ ]:
df.show()

In [ ]:
sc.stop()
spark.stop()

In [7]:
pandas_df.groupby('_c0').count()

,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,...,_c21,_c22,_c23,_c24,_c25,_c26,_c27,_c28,_c29,_c30
_c0,,,,,,,,,,,,,,,,,,,,,
0,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
10,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
100,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1000,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99984,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
99995,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
99998,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
99999,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Time,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1